body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
marquee {
    height: 70%;
    display: block;
}
.logo-scan{
    margin-left: 86%;
}
img.logo-casinoc1.bc-hover {
    width: 80%;
}
img.logo-casinoc2.bc-hover {
    width: 80%;
}
img.logo-casinoc3.bc-hover {
    width: 80%;
}
img.logo-casinoc4.bc-hover {
    width: 80%;
}
.row.align-items-start.logo {
    --bs-gutter-x: -20.5rem;
}
.bc-hover:hover {
    color: #f8f8ff;
    background: -moz-radial-gradient(bottom center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,0) 70%);
    background: -webkit-radial-gradient(bottom center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,0) 70%);
    background: radial-gradient(ellipse at bottom center,rgba(255,255,255,.3) 0,rgba(0,0,0,0) 70%);
}
.bc-hover {
    background: -moz-radial-gradient(top center,ellipse cover,rgba(255,255,255,.2) 0,rgba(0,0,0,0) 70%);
    background: -webkit-radial-gradient(top center,ellipse cover,rgba(255,255,255,.2) 0,rgba(0,0,0,0) 70%);
    background: radial-gradient(ellipse at top center,rgba(255,255,255,.2) 0,rgba(0,0,0,0) 70%);
    font-size: .8em;
    color: #fff;
}


img.pro {
    display: block;
    margin: auto;
    width: 15%;
}


button.btn.btn-outline-warning.back {
    border: 2px solid #FFCF32;
    font-family: 'Kanit', sans-serif;
}
button.btn.btn-outline-warning.add-user {
    border: 2px solid #FFCF32;
    font-family: 'Kanit', sans-serif;
}
.col-6.btnpro {
    margin-top: 1%;
}
.col-4.btnpro {
    margin-top: 1%;
}
img.add {
    position: absolute;
    width: 13%;
    margin-top: 32%;
    margin-left: 40%;
}
.col.add {
    display: flex;
    justify-content: center;
}

/* @media screen and (min-width: 768px) and (max-width: 1024px){
    img.add {
        margin-top: 51%;
    }
    img.pro{
        margin-top: 8%;
    }
 } */

@media screen and (max-width: 1024px) {
    img.add {
        margin-top: 38%;
    }
    img.pro{
        margin-top: 3%;
    }
    .logo-scan {
        margin-left: 86%;
        width: 14%;
    }
 }